prometheus:
  prometheusSpec:
    # workaround for validation error
    # Invalid value: 0: spec.maximumStartupDurationSeconds in body should be greater than or equal to 60
    maximumStartupDurationSeconds: 900

    storageSpec:
      volumeClaimTemplate:
        spec:
          resources:
            requests:
              storage: 250Gi

alertmanager:
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          resources:
            requests:
              storage: 10Gi

grafana:
  adminPassword: "{{ lookup('ansible.builtin.pipe', 'pass picluster/grafana-admin-password') }}"

  grafana.ini:
    analytics:
      enabled: false
      reporting_enabled: false
      check_for_updates: false
      check_for_plugin_updates: false
      feedback_links_enabled: false

    news:
      news_feed_enabled: false

    auth.anonymous:
      enabled: true

    # allow running ad-hoc queries (explore) while anonymous
    users:
      viewers_can_edit: true

  # default is RollingUpdate, which causes deadlock because the
  # old pod doesn't release its PVC and new pod can't acquire the PVC
  deploymentStrategy:
    type:
      Recreate

  persistence:
    enabled: true
    size: 10Gi
